/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #b3dc0b;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ5mtIceoc91M-ipdA3VmoxIQ5WES0wW7LDlIT5s_hg_5N2tIRV9Zi7b9k&s=10");
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #e7e9c2;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(220, 12, 12, 0.2);
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 45%;
  padding: 10px;
  background-color: #d7d6e1;
  border: none;
  border-radius: 5px;
  color: #7b1616;
  outline: none;
  margin: 3px;
}

button {
  padding: 10px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3700b3;
}

#expense-list {
  list-style-type: none;
  padding: 0;
}

#expense-list li {
  background-color: #8f7b7b;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

#total {
  text-align: right;
}

.hidden {
  display: none;
}
/* https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ5mtIceoc91M-ipdA3VmoxIQ5WES0wW7LDlIT5s_hg_5N2tIRV9Zi7b9k&s=10 */
